*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
	background-color: #666666;
}


.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.canvas_3d {
    z-index: 1;
    aspect-ratio: 16/9;
    display: block;
}

@media (min-width: 769px){
    .canvas_3d {
    	width: clamp(420px, 80vw, 800px);
    }
}

@media (max-width: 768px) {
    .canvas_3d {
        width: 110vw;
    }
}